# Chapter 2: Toolbox for Data Scientists  

Let's start with playing around with our first notebook. I will be showing the basics off in Jupyter Lab, but the same tasks could be completed using jupyter notebook, Google Colab, Deepnote, or Github Codespaces.

## Getting Started 

Let’s start with the first code and import a few libraries that will be helpful.
After typing in the code, the cell can be executed by pressing the Ctrl+Enter or SHIFT+Enter keys

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline

## Data Frames

* A key feature of `pandas` is a fast and efficient DataFrame object for data manipulation 
* A DataFrame is a tabular data structure, with rows and columns
* Let’s learn about DataFrames with some examples


### Example 1

In this example, we use the `pandas` `DataFrame` object constructor with a dictionary of lists as argument. The value of each entry in the dictionary is the name of the column, and the lists are their values.
The `DataFrame` columns can be arranged at construction time by entering a keyword *columns* with a list of the names of the columns ordered as we want. What if the *column* keyword is not used?

In [ ]:
# Our first DataFrame, constructed with a dictionary of lists 
data = {
    'year': [2010, 2011, 2012, 2010, 2011, 2012, 2010, 2011, 2012],
    'team': [
        'FCBarcelona', 'FCBarcelona', 'FCBarcelona', 'RMadrid', 'RMadrid',
        'RMadrid', 'ValenciaCF', 'ValenciaCF', 'ValenciaCF'
    ],
    'wins': [30, 28, 32, 29, 32, 26, 21, 17, 19],
    'draws': [6, 7, 4, 5, 4, 7, 8, 10, 8],
    'losses': [2, 3, 2, 4, 2, 5, 9, 11, 11]
}
football = pd.DataFrame(data)
football

The result is a table where each entry in the dictionary is a column. The index of each row is created automatically taking the position of its elements inside the entry lists, starting from 0. Although it is very easy to create DataFrames from scratch, most of the time what we will need to do is import chunks of data into a DataFrame structure, we will see how to do this in later examples.

In [ ]:
# create data frame with reordered columns 
# the new table "football2" should have columns of: 
#   team, year, wins, losses, draws

### Example 2 

Let's look at another small DataFrame

In [ ]:
country_data = {
    'country': ['Canada', 'USA', 'Mexico', 'India', 'Singapore', 'China'],
    'capital': [
        'Ottawa', 'Washington', 'Mexico City', 'New Delhi', 'Singapore', 'Beijing'
    ],
    'population': [37.0, 327.2, 130.8, 1356.5, 5.8, 1415.0]
}
myworld = pd.DataFrame(country_data)

# view the DataFrame 
print(myworld)

In [ ]:
# we can also see the DataFrame just calling the DataFrame variable
myworld

Notice the difference in printing out the DataFrame using the explicit `print` function or listing the variable itself. 

Let's now try to slice and access different elements form the DataFrame

Pandas has also assigned a "key" for each row, in this case, with numerical values from 0 through 5. You can access a subset of rows (observations) using square brackets.

In [ ]:
myworld[0:4]

In [ ]:
# Examine the "capital" column of the myworld DataFrame

Note, what is printed out - whether the range of values is inclusive or exclusive. 

If you only want one column from a DataFrame, you can put the column name in square brackets. The result will be a Data Series data object (not a Data Frame) because only one column is retrieved.

In [ ]:
# Select three columns from the original data
#  country, capital, and population

Let's work on a larger data set that we import from a csv file.

### Example 3

First, we need to read in the .csv file.

In [ ]:
# Read in the data from 'population.csv' file 
pop = pd.read_csv('population.csv')
pop

We can use the `head()` function to look at the first few rows, and the `tail()` function to look at the bottom few rows (default is 5, you can specify the number to print)

In [ ]:
# use head to look at the first 10 rows

In [ ]:
# use tail to look at the last 8 rows

If we want to start to look at some statistical information, the `describe()` function summarizes all **numeric** columns.

In [ ]:
# examine basic statistics summary of the numeric columns

Often, we want to filter data based on some criteria. For example, if we only care about populations above 1 billion,

In [ ]:
pop[pop['Value'] > 1000000000]

Hmmm... that was less useful than expected.  Let's try to reduce the results by also specifying we are interested in the year 2015.

In [ ]:
pop[(pop['Value'] > 1000000000) & (pop['Year']==2015)]

### 'loc' 

If we want to select a subset of columns and rows using the labels as our references instead of the positions, we can use `loc` function indexing. 

`loc` - https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html  
Access a group of rows and columns by label(s) or a boolean array.
* single label, e.g., `6` or `'a'` (6 is a label of the index not an integer position) 
* list or array of labels, e.g., `['a', 'b', 'c']`
* slice object with labels, e.g., `'a':'c'`  
Note, contrary to usual python slices, both the start and end are included. 
* boolean array or the same length as the axis being slided, e.g., [True, False, True]
* ... and more

### 'iloc'

Let's now select rows/columns based on their integer positions or `iloc` indexing

'iloc' - https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html  
Integer-location based indexing for selection by position (from `0` to `length-1`) may also be used with a boolean array. 
* integer, e.g., `5`
* list or array of integers, e.g., `[3, 2, 4]`
* slice object with ints, e.g., `1:5` 
* boolean array 
* ...

### Grouping 

A useful way to inspect data is to group according to some criteria.  For example, perhaps it would be nice to group all the data by country, regardless of year. We need to thus aggregate the data in an appropriate fashion. For example, we could take the mean population (over time) for each country.

`groupby` - https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

In [ ]:
# Show the mean population for each country 
group = pop[['Country Name', 'Value']].groupby('Country Name').mean()
group.head()

In [ ]:
# Show the standard deviation of the population for each country

### Aggregation

Once we know how to select the desired data, the next thing we need to know is how to manipulate data. 
One of the most straightforward things we can do is to operate with columns or rows  using aggregation functions. The following list shows the most common aggregation functions.

| Function  | Description | 
|-----------|-------------|
| count()   |Number of non-null observations|  
| sum()     |Sum of values|
| mean()    |Mean of values            | 
| median()  |Arithmetic median of values             |
| min()     |Minimum|
| max()     |Maximum|
| prod()    |Product of values|
| std()     |Unbiased standard deviation|
| var()     | Unbiased variance|

The result of all these functions applied to a row or column is always a number. Meanwhile, if a function is applied to a DataFrame or a selection of rows and columns, then you can specify if the function should be applied to the rows for each column  (putting the **axis=0** keyword on the invocation of the function), or it should be applied on the columns for each row (putting the **axis=1** keyword on the invocation of the function).

### Arithmetic Operations

Beside these aggregation functions, we can apply operations over all the values in rows, columns or a selection of both. The rule of thumb is that an operation between columns means that it is applied to each row in that column and an operation between rows means that it is applied to each column in that row. For example we can apply any binary arithmetical operation (`+`,`-`,`*`,`/`) to an entire row:

In [ ]:
s = pop['Value'] / 1000000
s.head()

We can apply any function to a DataFrame or Series just putting its name as argument of the apply method. For example, in the following code, we apply the `sqrt` function from the `numpy` library to perform the square root of each value in the `Value` column.

In [ ]:
s = pop['Value'].apply(np.sqrt)
s.head()

Another basic manipulation operation is to set new values in our DataFrame. This can be done directly using the assign operator = over a DataFrame.

In [ ]:
pop['ValueNorm'] = pop['Value'] / pop['Value'].max()
pop.tail()

### Visualization

Lets explore a data visualization. Suppose we were interested in plotting the population of China over time. Lets first create a variable, `cn`, that extracts data involving china, and then plot that new variable.

In [ ]:
cn = pop[pop['Country Name'] == 'China']
cn.plot(x="Year", y="Value")

# Data Cleaning

Let's start to explore doing some data cleaning - an important job when using real world data which is messy.

## Example 4

![iris image indicating petal and sepal structures in the flower](https://pages.mtu.edu/~lebrown/un5550-f20/week1/petal_sepal.jpg)

We've been given a data set from our field researchers to develop the demo, which only includes measurements for three types of *Iris* flowers:

### *Iris setosa*

![iris setosa image](https://pages.mtu.edu/~lebrown/un5550-f20/week1/iris_setosa.jpg)

### *Iris versicolor*
![iris versicolor image](https://pages.mtu.edu/~lebrown/un5550-f20/week1/iris_versicolor.jpg)

### *Iris virginica*
![iris virginica image](https://pages.mtu.edu/~lebrown/un5550-f20/week1/iris_virginica.jpg)

The four measurements we're using currently come from hand-measurements by the field researchers, but they will be automatically measured by an image processing model in the future.

The data set, `iris-data-test.csv` is a slight modificaiton from the famous **Iris** data set.  It has been slightly modified from the publicly available version for demonstration purposes in this notebook. 

### Load the data

In [ ]:
# Read in local copy of the data
iris_data = pd.read_csv('iris-data-test.csv')
iris_data.head(20)

A first thing to notice is that this data set is like many real world data sets and has some missing values - ? on row 6 and NAN on row 7.

### Missing Data 

We can tell `pandas` to automatically identify missing values if we know that marker that is used to represent the missing values, e.g., NA, NAN, or others.

In [ ]:
iris_data = pd.read_csv('iris-data-test.csv', na_values=['NA'])
iris_data

We can look at the descriptive statistics of the variables: mean, standard deviation, quartiles, min, and max.

In [ ]:
iris_data.describe()

Let's try to handle the missing values. First, we can drop the rows that containt the missing values (note, this is not something that you always want to do, depends on the size of your data, its distribution, ...).

In [ ]:
iris2 = iris_data.dropna()
iris2

We can see that this process changed the number of rows from 151 to 146.

Second, let's try to replace the missing values. There are many techniques use to infer or interpolate what a missing value should be replaced with (more on this topic later in the course).

Today let's try a naive approach by replacing the missing values with the mean for that variable.

In [ ]:
iris3 = iris_data.copy()
iris3.head(12)

As for most things in Python there are many methods to do this.  First, writing our own approach: find the rows where there are missing values, then replace the values with the mean for that variable.

In [ ]:
# Get rows where there are missing values
mv = iris3[iris3['petal_width_cm'].isnull()].index.tolist()
mv

In [ ]:
# Replace the values with the mean for that variable.
iris3.iloc[mv, 3] = iris3['petal_width_cm'].mean()
iris3.head(12)

We could also use functions in Python packages. Let's do this and replace the missing values with the median for that variable.

In [ ]:
iris4 = iris_data.copy()
iris4 = iris4.fillna(iris3['petal_width_cm'].median())
iris4.head(12)

### Other errors in Data

Let's walk some other issues in the data.

There are five classes when there should only be three, meaning there were some coding errors.

In [ ]:
iris4['class'].unique()

It looks like someone forgot to add "Iris-" before some of the "Iris-versicolor" entries. Also, there looks like a misspelling of "Iris-setosa".

In [ ]:
iris4.loc[iris4['class'] == 'versicolor', 'class'] = 'Iris-versicolor'
iris4.loc[iris4['class'] == 'Iris-setossa', 'class'] = 'Iris-setosa'
iris4['class'].unique()

# Visualizations 

Let's explore more functions to help create plots. 

We will be using the matplotlib library. If you are familiar with the plotting functions in Matlab, you will see that this library has extremely similar function calls.

If you are new to generating plots in Python, please review the examples given in the textbook as well as some examples using the pandas library. https://pandas.pydata.org/pandas-docs/stable/visualization.html

## Example 5 

We are going to be using the Iris data set again, but we will be using a "clean" version that is publically available.  

This code also shows how we can read in data directly from the web (not a file stored on the local machine).

In [ ]:
colNames = ['slen', 'swid', 'plen', 'pwid', 'type']
df = pd.read_table('http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',
                   header=None,
                   sep=',',
                   names=colNames)
df.head(5)

### Histograms 

Let's examine the distribution of values for sepal length - `slen`

In [ ]:
df.hist(column='slen')

We can change some of the plotting options. For example, the number of bins in the histogram.

In [ ]:
df.hist(column='slen',    # Column to plot
        figsize=(5, 4),   # Plot size
        bins=20);          # Number of bins

We can look at the histogram for another column (variable).

In [ ]:
df.hist(column='plen',    # Column to plot
        figsize=(6, 5),   # Plot size
        bins=15);          # Number of histogram bins

Let's now add some additional elements that **should be on all plots - axes labels and titles**.

In [ ]:
plt.hist(df['plen'], bins=20)
plt.xlabel('Petal Length (cm)')
plt.ylabel('Count')
plt.title('Histogram of Petal Length')
plt.show()

### Boxplots 

Box plots are used to compactly show many pieces of information about a variable distribution including some summary statistics.

In [ ]:
df['pwid'].plot(kind='box')

In [ ]:
df.plot.box()

Let's change how the plot looks. 

We may want our plots to look like they were generated with Matlab (above) or with R (below) or some other design.

In [ ]:
mpl.style.use('ggplot')
df.plot.box()

This plot now looks like it was created using R.

There are many other styles available which you can investigate how they look.

In [ ]:
print(plt.style.available)

In [ ]:
mpl.style.use('fivethirtyeight')
df.plot.box()