# Lab 8 - Relational Algebra 

*This examples build on examples from Data100 and also Ch. 23 of the Data Science by Scratch book.* 

In this lab notebook you will **write functions to implement the basic relational algebra operators.**

## Lab Setup

In [ ]:
import numpy as np
import pandas as pd

import os
if os.environ["HOME"]=='/home/jovyan':
    !pip install --upgrade otter-grader
    
import otter
grader = otter.Notebook()

# Huskies Sailing Club

The Huskies Sailing Club wants to better organize their user data. Your first job is to implement code relational algebra operators in Python. 

You may want to refer to the [pandas](http://pandas.pydata.org/pandas-docs/stable/) documentation. 

Here are the Sailing Club's databases.  Your job implement a variety of unary and binary relational algebra operators.

In [ ]:
young_sailors = pd.DataFrame({
        "sid":      [2701, 18869, 63940, 21869, 17436],
        "sname":    ["Grace", "Morgan", "Anne", "Jack", "Javier"],
        "rating":   [8, 6, 4, 9, 3],
        "age":      [25, 26, 21, 27, 22],
    })
salty_sailors = pd.DataFrame({
        "sid":      [2701, 17436, 45433, 22689, 46535],
        "sname":    ["Grace", "Javier", "Balon", "Euron", "Victarion"],
        "rating":   [8, 3, 7, 10, 2],
        "age":      [25, 22, 39, 35, 37],
    })
boats = pd.DataFrame({
        "bid":      [41116, 54505, 50041, 35168, 58324],
        "bname":    ["The Black Sparrow", "The Great Kraken", "The Prophetess", 
                     "Iron Victory", "Silence"],
        "color":    ["Black", "Orange", "Silver", "Red", "Grey"],
    })
reservations = pd.DataFrame({
        "sid":      [21869, 45433, 18869, 22689, 21869, 17436, 63940, 45433, 
                     21869, 18869],
        "bid":      [41116, 35168, 50041, 41116, 58324, 50041, 54505, 41116, 
                     50041, 41116],
        "day":      ["3/1", "3/1", "3/2", "3/2", "3/2", "3/3", "3/3", "3/3", 
                     "3/3", "3/4"],
    })

In [ ]:
young_sailors

In [ ]:
salty_sailors

In [ ]:
boats

In [ ]:
reservations

## Exercise 1: Projection

The first relational algebra function to implement is **Projection**.

Create a function `project` that takes as arguments a DataFrame and a list of columns to select and returns the projection (another DataFrame)

In [ ]:
def project(df, columns):     
    return ... 

df1a = project(salty_sailors, ["sname", "age"])
df1b = project(boats, ["color"])

Example test:  
The output for `project(salty_sailors, ["sname", "age"])` should be: 

|   | sname  |  age  | 
|---|--------|-------|
| 0 | Grace  | 25    |
| 1 | Javier | 22    | 
| 2 | Balon  | 39    | 
| 3 | Euron  | 35    | 
| 4 | Victarion | 37 |

In [ ]:
grader.check("q1")

## Exercise 2: Selection 

Next, you will implement the **Selection** operator.

Create a function `select` that has arguments of a DataFrame and a condition (function) which determines which rows to select.  The function returns a DataFrame after performing the selection.  

For example: 
`good_sailors = select(young_sailors, lambda x: x["rating"] > 6)`

In [ ]:
def select(df, condition):     
    return ... 

dfq2 = select(young_sailors, lambda x: x["rating"] > 6)

The output for `select(young_sailors, lambda x: x["rating"] > 6)` should be:

|   | sid   | sname  | rating | age |
|---|-------|--------|--------|-----|
| 0 | 2701  | Grace  | 8      | 25  |
| 3 | 21869 | Jack   | 9      | 27  |

In [ ]:
grader.check("q2")

## Exercise 3: Union 

Create a function, `union`, (a binary operator) that takes two DataFrames as input.  

You can assume the two dataframes are union compatible (that is, they have the same number of columns, and their columns have the same types).  

Return the result of the union operation.  

Assume set semantics, that is, duplicates should be removed.

In [ ]:
def union(df1, df2):     
    return ... 

df3 = union(young_sailors, salty_sailors)

The output for `union(young_sailors, salty_sailors)` should be:

|   | sid   | sname    | rating | age |
|---|-------|----------|--------|-----|
| 0 | 2701  | Grace    | 8      | 25  |
| 1 | 18869 | Morgan   | 6      | 26  | 
| 2 | 63940 | Anne     | 4      | 21  | 
| 3 | 21869 | Jack     | 9      | 27  | 
| 4 | 17436 | Javier   | 3      | 22  | 
| 2 | 45433 | Balon    | 7      | 39  | 
| 3 | 22689 | Euron    | 10     | 35  | 
| 4 | 46535 | Victarion | 2     | 37  |

In [ ]:
grader.check("q3")

## Exercise 4: Intersection 

Write a function to perform the binary operation of Intersection that takes two DataFrames as input.  

You can assume the two dataframes are intersection compatible (that is, they have the same number of columns, and their columns have the same types).  

Return the result of the intersection operation.

In [ ]:
def intersection(df1, df2):     
    return ... 

df4 = intersection(young_sailors, salty_sailors)

The output for `intersection(young_sailors, salty_sailors)` should be:

|   | sid   | sname    | rating | age |
|---|-------|----------|--------|-----|
| 0 | 2701  | Grace    | 8      | 25  |
| 1 | 17436 | Javier   | 3      | 22  |

In [ ]:
grader.check("q4")

## Exercise 5: Set Difference 

Write a function to perform the set difference operation that takes two DataFrames as input.  

This one is a bit harder.  

You may want to convert rows of the dataframe to a tuple, if you are having trouble. 

Alternatively, you could consider using the `isin` method.

In [ ]:
def difference(df1, df2): 
    # Assume inputs df1 and df2 are same schema 
    # Make sure your returned DataFrame has the same data types as the 
    #  input DataFrames 
    # Make sure to not change the original data frames passed as 
    #  inputs 
    ...
    return ... 

df5 = difference(young_sailors, salty_sailors)

The output for `difference(young_sailors, salty_sailors)` should be:

|   | sid   | sname    | rating | age |
|---|-------|----------|--------|-----|
| 1 | 18869 | Morgan   | 6      | 26  | 
| 2 | 63940 | Anne     | 4      | 21  | 
| 3 | 21869 | Jack     | 9      | 27  |

In [ ]:
grader.check("q5")

## Exercise 6: Cross-product 

Implement a function for the cross-product between two input DataFrames

This one is also harder, so there is some code to start.  Think about how the new `tmp-key` column could be used ...

In [ ]:
def cross_product(in1, in2):
    # add a column "tmp-key" of zeros to df1 and df2 
    in1 = pd.concat([in1, pd.Series(0, index=in1.index, name="tmp-key")], axis=1)
    in2 = pd.concat([in2, pd.Series(0, index=in2.index, name="tmp-key")], axis=1)
    # use Pandas merge functionality along with drop 
    # to compute outer product and remove extra column
    return ... 

df6 = cross_product(young_sailors, salty_sailors)

The output of `cross_product(young_sailors, salty_sailors)` should be: 

|   | sid_x | sname_x  | rating_x | age_x | sid_y  | sname_y | rating_y | age_y |
|---|-------|----------|--------|-----|-------|--------|-----|----|
| 0 | 2701  | Grace    | 8      | 25  | 2701  | Grace  | 8   | 25 |
| 1 | 2701  | Grace    | 8      | 25  | 17436 | Javier | 3   | 22 |
| 2 | 2701  | Grace    | 8      | 25  | 45433 | Balon  | 7   | 39 | 
| 3 | 2701  | Grace    | 8      | 25  | 22689 | Euron  | 10  | 35 |
| 4 | 2701  | Grace    | 8      | 25  | 46535 | Victarion | 2   | 37 |
| 5 | 18869 | Morgan   | 6      | 26  | 2701  | Grace  | 8   | 25 |
|   | ...   | ...      | ...    | ... | ...   | ...    | ... | ... |

There should be 25 entries.

In [ ]:
grader.check("q6")

## Exercise 7: Theta-Join 

Complete a function for theta-join.  Consider using two other relational operators you have created above.

In [ ]:
def theta_join(df1, df2, condition):
    
    return ... 

df7 = theta_join(young_sailors, salty_sailors, lambda x: x["age_x"] > x["age_y"])

The output of `theta_join(young_sailors, salty_sailors, lambda x: x["age_x"] > x["age_y"])` should be: 

|   | sid_x | sname_x  | rating_x | age_x | sid_y  | sname_y | rating_y | age_y |
|---|-------|----------|--------|-----|-------|--------|-----|----|
| 0 | 2701  | Grace    | 8      | 25  | 17436 | Javier | 3   | 22 |
| 5 | 18869 | Morgan   | 6      | 26  | 2701  | Grace  | 8   | 25 |
| 6 | 18869 | Morgan   | 6      | 26  | 17436 | Javier | 3   | 22 | 
| 15| 21869 | Jack     | 9      | 27  | 2701  | Grace  | 8   | 25 |
| 16| 21869 | Jack     | 9      | 27  | 17436 | Javier | 3   | 22 |

In [ ]:
grader.check("q7")

## Exercise 8: Natural Join 

Implement a function to return the natural join.  Try to implement this using other relational operators.

In [ ]:
def natural_join(df1, df2, attr):
    
    return ... 


all_sailors = union(young_sailors, salty_sailors)
df8 = natural_join(all_sailors, reservations, "sid")

The output of the natural join is: 

|   | sid_x |	sname |	rating | age  | sid_y | bid | day |
|---|-------|---------|--------|------|-------|-----|-----|
| 12 |	18869 |	Morgan | 6 | 26 | 18869 | 50041 | 3/2 |
| 19 |	18869 |	Morgan | 6 | 26 | 18869 | 41116 | 3/4 |
| 26 |	63940 |	Anne | 4 | 21 |	63940 |	54505 |	3/3 |
| 30 |	21869 |	Jack | 9 | 27 |	21869 |	41116 |	3/1 |
| 34 |	21869 |	Jack | 9 | 27 |	21869 |	58324 |	3/2 |
| 38 |	21869 |	Jack | 9 | 27 |	21869 |	50041 |	3/3 |
| 45 |	17436 |	Javier | 3 | 22 |	17436 |	50041 |	3/3 |
| 51 |	45433 |	Balon |	7 |	39 |	45433 |	35168 |	3/1 |
| 57 |	45433 |	Balon |	7 |	39 |	45433 |	41116 |	3/3 |
| 63 |	22689 |	Euron |	10 | 35 |	22689 |	41116 |	3/2 |

In [ ]:
grader.check("q8")

## Congratulations! You have finished Lab8!

Please submit the zip file to Gradescope. 

Make sure you have run all cells in your notebook **in order** before running the cell below, so that all information gets saved to the log file correctly. The cell below will generate a zip file for you to submit. **Please save before exporting!**

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False, run_tests=True)